[[source]]

url = "https://pypi.python.org/simple"
name = "pypi"
verify_ssl = true


[packages]

Flask = "*"
requests-futures = "*"


[dev-packages]

ipython = "*"
ipdb = "*"


[requires]

python_version = "3.6"
